   /*initial all style*/
*{
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
    outline: none;
    color: #fff;
}

.clearfix{
    zoom: 1;
}

.about-Index-showcase{
    height:100%;
    width:100%;
    overflow:hidden;
    position:absolute;
    z-index: 10;
    background-color:#444;
    animation-fill-mode: backwards;
}
.about-Index-showcase .form_container{
    left:50%;
    top:50%;
    width:800px;
    margin-left:-400px;
    position: absolute;
    box-sizing: border-box;
    margin-top:-180px;
    z-index: 5;
    display:none;
}
.about-Index-showcase.show-login .form_container,.about-Index-showcase.show-welcome .form_container{
    display: block;
    animation: signupFormIntro .3s ease-out .7s;
    animation-fill-mode: backwards;
}

.about-Index-showcase .form_container .form-header-welcome{
    display:none;
}

.about-Index-showcase.show-welcome .form_container .form_header{
    display:none;
}

.about-Index-showcase.show-welcome .form_container .form-header-welcome{
    display:block;
}

.signup_forms{
    margin-left: -155px;
    left: 50%;
    opacity: 1;
    width: 300px;
    position: relative;
    z-index: 3;
    -webkit-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.signup_forms input{
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    border: none;
    background: #fff;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.signup_forms .signup_forms_errors{
    list-style-type: none;
    border-radius: 2px;
    margin: -2px 0 0 0;
    padding: 0;
    overflow: hidden;
    clear: both;
    opacity: 0;
    max-height: 0;
    transition-property: max-height, opacity, margin;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
}

.signup_forms .signup_forms_errors.has-errors{
    margin:15px 0 0 0;
    max-height: 300px;
    opacity: 1;
}

.signup_forms .signup_forms_errors li{
    text-align: center;
    padding: 14px 15px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    line-height: 16px;
    color: #fff;
    background: #000000;
    background: rgba(0,0,0,0.33);
    margin-bottom: 1px;    text-align: center;
    padding: 14px 15px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    line-height: 16px;
    color: #fff;
    background: #000000;
    background: rgba(0,0,0,0.33);
    margin-bottom: 1px;
}

.show-forms .signup_forms_container{
    background: transparent;
    opacity: 1;
}

.signup_forms_container{
    opacity: 0;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    background-clip: padding-box;
    transition: opacity 0.5s ease;
}

.signup_forms .signup_forms_panel{
    position: relative;
    left: -1024px;
    width: 3000px;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    box-sizing: border-box;
}

.signup_forms .signup_forms_panel .signup_view{
    max-height: 1px;
    position: relative;
    float: left;
    width: 300px;
    overflow: hidden;
    padding-right: 260px;
    transition-property: max-height, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.show-forms .signup_forms .signup_forms_panel{
    left: -0px;
}

.signup_forms .signup_forms_panel.signup .signup_view.active{
    max-height: 200px;
}

.signup_forms .signup_forms_panel.signin .signup_view.active{
    max-height: 88px;
}


#signup_forms_submit{
    background:#529ecc;
    color:#fff;
    border:none;
}

#signup_login_button{
    background-color: #fff;
    color:#444;
    border:none;
}

.signup_forms_submit.active{
    display:block;
}

 .signup_forms_submit {
    display:none;
    width:100%;
    height:45px;
    margin-top:12px;
    position:relative;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

.signup_forms .forgot-password{
    display: none;
    width:100%;
    text-align: center;
    margin-top: 20px;
}
.signup_forms .forgot-passowrd .forgot-password-link{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.signup_forms .forgot-password.active{
    display: inline-block;
}

.logo-word.large{
    float:none;
}

.logo_anchor{
    position: relative;
    float: left;
    width: 200px;
    height: 60px;
    margin-left: 50%;
    left: -100px;
    background-image: url(../logos/otod-logo1.png);
}

.about-Index-showcase .section-title{
    text-align:center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 53px;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.logo-word{
    overflow: hidden;
    margin: auto;
    width:232px;
    height: 60px;
    padding:0px;
    font-size: 20px;
}

.subheading{
    position:relative;
    width: 517px;
    left: 50%;
    margin:10px 0px 20px -258px;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color:#F6F8FC;
    white-space: nowrap;
}

.about-Index-showcase .section.login-section{
    padding-top:0px;
    color:inherit;
}

.about-Index-showcase .section.about-section{
    background:#61E8A8;
    display: table;
    text-align: center;
}
.about-Index-showcase .section.shop-section{
    background:#a77dc2;
    overflow:hidden;
    text-align:left;
}

.about-Index-showcase .section.server-section{
    background:#f2992e;
    display: table;
    text-align: center;
}

.about-Index-showcase .section.welcome-section{
    padding-top:0px;
    color:inherit;
}

.about-Index-showcase .showcase{
    height:100%;
    width:100%;
    position: relative;
    z-index: 1;
}

.about-Index-showcase .section{
    color:#fff;
    height:100%;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transform:  translateY(0);
    transition: transform .7s cubic-bezier(.825,0,.5,1);
}
.about-Index-showcase .section.old-hat {
    transform: translateY(-100%)
}

.showcase .login-section .about-Index-btn{
    cursor:pointer;
    width:100%;
    height:45px;
    color:#fff;
    background:#61E8A8;
    position:absolute;
    bottom:0px;
    line-height: 45px;
    font-size:17px;
    font-weight:700;
    box-shadow: inset 0 3px 0 rgba(0,0,0,.1);
    z-index: 2;
}

.showcase .welcome-section .section-wrapper{
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    animation: none;
}
.shpwcase .shop-section .section-wrapper{
    margin-left: 180px;
    margin-top: 150px;
}

.showcase .about-section .section-wrapper,.showcase .server-section .section-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.showcase .about-section .section-wrapper .about-graphic {
    height: 60%;
    margin: 0 auto 20px;
    opacity: 1;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
    transform: scale(.8);
}

.about-Index-showcase .showcase .about-section .section-wrapper .about-graphic g{
    opacity: 0;
}

.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g{
    opacity: 1;
}

.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.top{
    animation: aboutGraphic-top 2s ease-out 0s;
    animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.bottom{
    animation: aboutGraphic-bottom 2s ease-out 0s;
    animation-fill-mode: forwards;
}

.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.right{
    animation: aboutGraphic-right 2s ease-out 0s;
    animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.left{
    animation: aboutGraphic-left 2s ease-out 0s;
    animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.bottom-left{
    animation: aboutGraphic-bottom-left 2s ease-out 0s;
    animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.bottom-right{
    animation: aboutGraphic-bottom-right 2s ease-out 0s;
    animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.top-left{
    animation: aboutGraphic-top-left 2s ease-out 0s;
     animation-fill-mode: forwards;
}
.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.top-right{
    animation: aboutGraphic-top-right 2s ease-out 0s;
     animation-fill-mode: forwards;
}

.about-Index-showcase.show-about .showcase .about-section .section-wrapper .about-graphic g.big-t path{
    animation: aboutGraphic-big-T 2s ease-out .2s;
    animation-fill-mode: forwards;
}

.showcase .section-title{
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 43px;
    line-height: 1;
    margin-bottom: 15px;
}

.showcase .shop-section .section-content{
    margin-bottom:20px;
    position:relative;
    left:150px;
    top:100px;
    width:500px;
    z-index:2;
    line-height: 1.4;
}
.showcase .about-section .section-content{
    width: 540px;
    margin: 0 auto;
    line-height: 1.4;
}



/* the fullscreen background */
.fullscreen_post_bg{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-position: 50% 50%;
}

.login-section .fullscreen_post_bg {
    background-image: url(../backgrounds/login.jpg);
}

.welcome-section .fullscreen_post_bg {
    background-image: url(../backgrounds/login2.jpg);
}


.fullscreen_post_footer{
    position: absolute;
    bottom: 45px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    transition: bottom .3s ease-out 1.7s;
}

.welcome-section .fullscreen_post_footer{
    bottom: 0px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner{
    height: 210px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer_legal_links{
    position: absolute;
    bottom: 0px;
    opacity: 1;
    padding: 0 20px;
    margin: 0 0 13px 0;
    line-height: 25px;
    transition: opacity 0.2s linear;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer_legal_links a{
    color: #D1D1D1;
    font-size: 14px;
    padding-left: 15px;
    margin-left: -5px;
    font-weight: normal;
    display: inline-block;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer_legal_links a:hover{
    color: #fff;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 1;
    padding: 0 20px;
    margin: 0 0 13px 0;
    transition: opacity 0.2s linear;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a{
    color: #D1D1D1;
    height: 30px;
    width: 30px;
    font-size: 14px;
    margin-left: 15px;
    text-indent:  -20000px;
    display: inline-block;
    overflow: hidden;
    background-image: url(../images/oauth2.png);
    background-repeat: no-repeat;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.weixin{
    background-position: 0px 0px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.weixin:hover{
    background-position: -90px 0px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.qq{
    background-position: 0px -30px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.qq:hover{
    background-position: -90px -30px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.xina{
    background-position: 0px -60px;
}

.fullscreen_post_footer .fullscreen_post_footer_inner .footer-oauth2-plaforms a.xina:hover{
    background-position: -90px -60px;
}
.about-Index-showcase .section .fullscreen_post_bg{
    background-size:0 0;
}

.about-Index-showcase .section.welcome-section .fullscreen_post_bg,.about-Index-showcase .section.login-section .fullscreen_post_bg{
    background-size:cover;
}

.about-Index-showcase .section.login-section .fullscreen_post_bg{
    bottom:45px;
}


/* showcase-pagination */
.showcase-pagination{
    left: 40px;
    position: absolute;
    top: 50%;
    z-index: 2147483643;
    transform: translateY(-50%);
 }

.showcase-pagination .dot {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #fff;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
    opacity: .4;
    position: relative;
    width: 16px;
    box-sizing: border-box
 }

.showcase-pagination .dot:hover {
    opacity: 1;
 }

.showcase-pagination .dot.active {
    background: #fff;
    box-shadow: none;
    opacity: 1
 }


@keyframes signupFormIntro {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
 }

 @keyframes aboutGraphic-bottom-right {
    0%{
        opacity: 0;
        transform: translateX(40%) translateY(100%)
    }

    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%)
    }
 }
 @keyframes aboutGraphic-bottom-right {
    0%{
        opacity: 0;
        transform: translateX(40%) translateY(100%)
    }

    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%)
    }
 }
 @keyframes aboutGraphic-bottom-left {
    0%{
        opacity: 0;
        transform: translateX(-40%) translateY(100%)
    }

    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%)
    }
 }

 @keyframes aboutGraphic-top-left {
    0%{
        opacity: 0;
        transform: translateX(-40%) translateY(-100%)
    }

    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%)
    }
 }

 @keyframes aboutGraphic-top-right {
    0%{
        opacity: 0;
        transform: translateX(40%) translateY(-100%)
    }

    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%)
    }
 }

 @keyframes aboutGraphic-top{
     0%{
        opacity: 0;
        transform:  translateY(-100%)
    }

    to{
        opacity: 1;
        transform:  translateY(0%)
    }

 }
  @keyframes aboutGraphic-bottom{
     0%{
        opacity: 0;
        transform:  translateY(100%)
    }

    to{
        opacity: 1;
        transform:  translateY(0%)
    }

 }
 @keyframes aboutGraphic-right {
    0%{
        opacity: 0;
        transform: translateX(40%)
    }

    to{
        opacity: 1;
        transform: translateX(0%)
    }
 }
  @keyframes aboutGraphic-left {
    0%{
        opacity: 0;
        transform: translateX(-40%)
    }

    to{
        opacity: 1;
        transform: translateX(0%)
    }
 }
 @keyframes aboutGraphic-big-T{
    0%{
        opacity: 0
    }
    to{
        opacity: 1
    }
 }
