.notice-box{
    width: 670px;
    padding: 0 1px;
    border-top: 1px solid #d4d4d5;
    float: left;
    background-color: #fff;
}
.notice-box .notice-head{
    padding: 26px 30px 16px;
    border-bottom: 1px solid #ebebeb;
}
.notice-head h2{
    font-size: 32px;
    font-weight: normal;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}

.notice-content ul li{
    border-top: 1px solid #e7e7e7;
}